@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  } */
}

html {
  scroll-behavior: smooth;
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    
}

html *, body * {
  /* cursor: none; */
  user-select: none;
}

.intro-height {
  min-height: calc(100vh - 81px);
}

* {
  cursor: none;
}

a {
  cursor: pointer !important;
}

.title {
  font-size: 10rem;
}

.cursor {
  position: fixed;
  z-index: 100;
  display: flex;
  flex-flow: row;
  align-content: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 10px;
  width: 10px;
  background-color: #EAEBEB;
  border-radius: 50%;
  pointer-events: none;
  color: #fff;
  text-align: center;
  font-size: 2rem;
  z-index: 99999;
}

.cursorText {
  flex: auto;
  font-size: inherit;
  pointer-events: none;
  margin: auto;
}

/* ::-webkit-scrollbar {
  width: 12px !important;
} */